body{
   background-color: papayawhip;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
.main {
    display: flex;
    background-color:cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    border: 10px;
    width: 500px;
}
p {
    font-family:'Courier New', Courier, monospace;
    height: 20px;
}
label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    color:bisque;
}
input {
    width: 150px;
}
.tipButton button {
    background-color: aqua;
    padding: 0px;
    border: 0ch;
    border-radius: 10px;
    height: 30px;
    width: 50px;
}
.inputData{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100px;

}
.resultData {
    background-color:darkgoldenrod;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}